%% -*- erlang -*-

{erl_opts, [debug_info]}.
{deps, []}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{ct_opts, [
    {ct_hooks, [metric_cth]}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.8.10"}
        ]}
    ]}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [metric]}
]}.
